<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>angular-better-placeholders <small>by @dmackerman</small></h1>
      <p class="lead">Better, more friendly implementation of <code>placeholder</code> for form fields inside of Bootstrap. <small>and elsewhere</small><br />
      Inspired by <a href="http://dribbble.com/shots/1254439--GIF-Mobile-Form-Interaction?list=users">a really cool Dribble concept.</a></p>
      <a href="../src/angular-better-placeholder.js" class="btn btn-primary btn-lg">Download</a>    
      <a href="https://github.com/dmackerman/angular-better-placeholders" 
        class="btn btn-default btn-lg">View on Github</a>    
      <hr />
      <h3>Demo</h3>
      <p>Begin typing in a field to trigger the placeholder text. If an input ever becomes unfocused and is empty, the placeholder should disapear.</p>
      <form role="form">
        <div class="row">
          <div class="form-group">
            <div class="col-lg-4">
              <input type="text" ng-model="firstName" class="form-control better-placeholder" 
                placeholder="First Name" />
            </div>
            <div class="col-lg-4">
              <input type="text" ng-model="lastName" class="form-control better-placeholder"
                placeholder="Last Name" />
            </div>
            <div class="col-lg-4">
              <input type="password" ng-model="password" class="form-control better-placeholder"
                placeholder="Password" />
            </div>
          </div>
        </div>
      </form>    
    </div>
  </div>
  <hr>
      <h3>Usage</h3>
      <p>Simple include the <code>better-placeholder</code> directive as a class on your input fields.</p>
      <pre>
&lt;input type="text" ng-model="user.firstName" class="form-control better-placeholder" placeholder="First Name" /&gt;</pre>
    <p>Include the following CSS snipets:</p>
    <pre>
.better-placeholder {
  transition: all .2s ease;
}
.better-placeholder.better-placeholder-active {
  padding: 34px 12px 16px 12px;
}
.better-placeholder-text {
  position: absolute;
  top: 5px; left: 28px;
  font-size: 10px;
  font-weight: bold;
}
    </pre>
    <hr>
    <h3>
      Todo
    </h3>
    <ul>
      <li>Look into <code>$templateCache</code></li>
      <li>Optimize terrible code</li>
      <li>Better CSS integration</li>
      <li>Include better transition for the actual placeholder label</li>
    </ul>
</div>